<div class="w-full aspect-square flex flex-col rounded-lg overflow-hidden">
  <div
    *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]"
    class="flex grow">
    <div
      *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]"
      id="square-{{(row * 8) + col}}"
      class="grow square"
      [class.white]="(col + row) % 2 === 0"
      [class.black]="(col + row) % 2 !== 0">
      <span 
        *ngIf="col === 0"
        class="row-label select-none">
        {{row}}
      </span>

      <span
        *ngIf="row === 7"
        class="col-label select-none">
        {{['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'][col]}}
      </span>

      <div *ngIf="!isEmpty(row, col)">
        <fa-icon *ngIf="isPawn(row, col)" [icon]="faPawn" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
        <fa-icon *ngIf="isRook(row, col)" [icon]="faRook" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
        <fa-icon *ngIf="isKnight(row, col)" [icon]="faKnight" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
        <fa-icon *ngIf="isBishop(row, col)" [icon]="faBishop" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
        <fa-icon *ngIf="isQueen(row, col)" [icon]="faQueen" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
        <fa-icon *ngIf="isKing(row, col)" [icon]="faKing" class="piece" [class.white]="isWhite(row, col)"></fa-icon>
      </div>
    </div>
  </div>
</div>
