<div class="container mx-auto px-4 md:px-0">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col space-y-4">
      <h1 class="text-4xl md:text-5xl font-bold">
        Hi, my name is <span class="text-blue-700">Xadrez</span>
      </h1>
      <p class="text-xl">Do you want to play some chess with me?</p>
      <div class="flex space-x-1">
        <button type="button" class="primary-btn">
          <fa-icon [icon]="faChessRook" class="mr-2 text-base"></fa-icon>
          <a routerLink="/play">Challange me</a>
        </button>
        <button type="button" class="flex normal-btn">
          <fa-icon [icon]="faBrain" class="mr-2 text-base"></fa-icon>
          <a routerLink="/analyze">See how I think</a>
        </button>
      </div>
    </div>
    <div>
      <app-chessboard class="block w-64 md:w-96"></app-chessboard>
    </div>
  </div>
</div>
