<section class="container mx-auto p-4 md:px-0">
  <div class="w-fit mx-auto flex gap-4 flex-col md:flex-row">
    <div class="my-auto">
      <h1 class="text-4xl md:text-5xl font-bold">Hi, my name is <span class="text-blue-700">Xadrez</span></h1>
      <p class="text-xl mt-4">I am a chess computer. Do you want to play some chess with me?</p>
      
      <div class="flex mt-10">
        <button type="button" class="primary-btn">
          <fa-icon [icon]="faChessRook" class="mr-2 text-base"></fa-icon>
          <a routerLink="/play">Challange me</a>
        </button>
        
        <button type="button" class="normal-btn">
          <fa-icon [icon]="faBrain" class="mr-2 text-base"></fa-icon>
          <a routerLink="/play">See how I think</a>
        </button>
      </div>
    </div>

    <app-chessboard class="w-full md:w-96"></app-chessboard>
  </div>
</section>
